<div>
    <h2>Crear Usuario</h2>
    <form (ngSubmit)="crearUsuario()">
      <div>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" [(ngModel)]="usuario.usuario" name="usuario" required>
      </div>
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
      </div>
      <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" [(ngModel)]="usuario.apellido" name="apellido" required>
      </div>
      <div>
        <label for="perfil">Perfil:</label>
        <select id="perfil" [(ngModel)]="usuario.id_perfil" name="id_perfil" required>
          <option *ngFor="let perfil of perfiles" [value]="perfil.id">{{ perfil.descripcion }}</option>
        </select>
      </div>
      <button type="submit">Crear Usuario</button>
    </form>
  </div>
  